<footer class="footer" style="background-image: url(assets/images/temp/footer-image.jpg)">
	<div class="shell">
		<div class="footer__inner">
			<nav class="footer__nav">
				<ul>
					<li>
						<a href="#">About Us</a>
					</li>

					<li>
						<a href="#">Menu</a>
					</li>

					<li>
						<a href="#">Catering</a>
					</li>

					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
			</nav><!-- /.footer__nav -->

			<p class="credits">&copy; Khan Kabab House 2018. All rights reserved.<br>Created by <a href="#">Nida Saeed</a>.</p>
		</div><!-- /.footer__inner -->
	</div><!-- /.shell -->
</footer><!-- /.footer -->

