<!-- Your header goes here -->
<header class="header">
	<div class="shell">
		<div class="header__inner">
			<div class="nav-trigger">
				<span></span>
				
				<span></span>
				
				<span></span>
			</div><!-- /.nav-trigger -->
			
			<a href="#" class="logo">Khan Kabab House</a>

			<nav class="nav">
				<ul>
					<li>
						<a href="#section-about">about us</a>
					</li>

					<li>
						<a href="#section-menu">menu</a>
					</li>

					<li class="nav-lg">
						<a href="home.html">khan kabab house</a>
					</li>

					<li>
						<a href="#section-catering">catering</a>
					</li>

					<li>
						<a href="#section-contact">contact us</a>
					</li>
				</ul>
			</nav><!-- /.nav -->

		</div><!-- /.header__inner -->
	</div><!-- /.shell -->
</header><!-- /.header -->